# {{ ansible_managed }}
stickster@gmail.com                 smtp:[smtp.gmail.com]:587
fredbluesallstars@gmail.com         smtp:[smtp.gmail.com]:587
pfrields@fedoraproject.org          smtp:[smtp.gmail.com]:587
pfrields@redhat.com                 10025:[{{ vpn_hostname }}]:25
